/* Variables */
:root {
  --primary-color: #4b0909;
  --primary-shadow: rgba(114, 96, 96, 0.7);
  --primary-hover: rgb(228, 227, 227);
}

html {
  scroll-behavior: smooth;
}

/* CSS Reset of all elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* navbar */

.navbar-links ul {
  list-style-type: none;
}

.navbar-links a {
  text-decoration: none;
  color: white;
  padding: 1rem;
  display: block;
  height: 100%;
  font-weight: bold;
}

.navbar-links li {
  border-left: 1px white dotted;
}

.navbar {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-color);
  color: white;
  box-shadow: 0px 12px 10px var(--primary-shadow);
}

.nameOnNavBar {
  margin: 0.5rem;
  font-size: 1.5rem;
}

.navbar-links ul {
  display: flex;
}

.navbar-links a:hover {
  color: var(--primary-color);
  background-color: var(--primary-hover);
}

.toggle-button {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

@media (max-width: 450px) {
  .toggle-button {
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-links ul {
    flex-direction: column;
    width: 100%;
  }

  .navbar-links li {
    text-align: center;
    border-top: 1px white dotted;
    border-left: none;
  }

  #bottom-link {
    border-bottom: 1px white dotted;
  }

  .navbar-links a {
    padding: 0.5rem 1rem;
  }

  .navbar-links.active {
    display: flex;
  }
}

/* navbar end */

.content {
  margin-top: 20px;
}

/* hero section */

.hero {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  margin: auto;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 25px;
}

.hero img {
  height: 20rem;
  width: 20rem;
  border: 2px var(--primary-color) dotted;
  border-radius: 20%;
  box-shadow: 0px 2px 15px 2px var(--primary-shadow);
  margin: 5px;
}

.bio {
  width: 25rem;
  padding: 0.625rem;
  border: 2px var(--primary-color) dotted;
  border-radius: 10px;
  box-shadow: 0px 2px 15px 2px var(--primary-shadow);
  margin: 5px;
}

.bio:hover {
  background-color: var(--primary-hover);
}

.bio h2 {
  margin-bottom: 0.5rem;
}

.bio p {
  line-height: 1.7rem;
  padding: 0.3rem 0;
}

#namespan {
  font-weight: bold;
  color: var(--primary-color);
  font-size: 1.5rem;
}
/* hero section end */

section {
  padding-bottom: 5px;
}

/* About Me Section */

.about {
  background-color: rgb(202, 186, 186);
  padding: 1rem 2rem;
}

.about h2 {
  margin-bottom: 0.5rem;
  text-align: center;
}

.about p {
  line-height: 1.7rem;
  padding: 0.4rem;
  text-align: justify;
}

/* About Me Section End */

/* Skills Section */

.skills {
  margin: auto;
  text-align: center;
  margin-top: 2.5rem;
}

.skills h2 {
  margin-bottom: 1rem;
}

.icon {
  width: 11rem;
  height: 11rem;
}

.skills-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skills-wrapper img {
  padding: 1.3rem;
}

.skills-wrapper figure:hover {
  background-color: var(--primary-hover);
}

.skills-wrapper figcaption {
  font-weight: bold;
  font-size: 1.5rem;
}

.skills-wrapper figure {
  background-color: #fff;
  border-radius: 12px;
  border: 2px var(--primary-color) dotted;
  box-shadow: 0 5px 10px 5px var(--primary-shadow);
  padding: 20px;
  margin: 10px;
}

/* Skills Section End */

/* Projects Section */

.projects {
  margin-top: 50px !important;
  background-color: rgb(202, 186, 186);
  padding: 32px 0;
}

.project-pic {
  width: 100%;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.projects-title {
  text-align: center;
  margin-bottom: 1rem;
}

.project-card {
  text-align: center;
  height: 24rem;
  width: 24rem;
  background-color: white;
  border: 2px var(--primary-color) dotted;
  border-radius: 12px;
  box-shadow: 0px 2px 15px 2px var(--primary-shadow);
  padding: 20px;
  margin: 10px;
}

.project-card:hover {
  background-color: var(--primary-hover);
}

.project-container p {
  padding: 0.4rem;
}

.project-title {
  margin-bottom: 0.5rem;
  font-weight: bold;
  font-size: 1.5rem;
}

.project-details {
  margin-bottom: 0.5rem;
}

.project-card a {
  text-decoration: none;
}

.project-card .btn_proj {
  background-color: var(--primary-color);
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0.5rem;
  border: 1px var(--primary-color) solid;
  border-radius: 10px;
}

.btn_proj:hover {
  background-color: #ffc107;
  color: var(--primary-color);
}

/* Projects Section End */

section {
  scroll-margin-top: 80px;
}

section h2 {
  color: var(--primary-color);
}

.section_curved_edge {
  border-radius: 20px;
  margin: 10px;
  border: 2px var(--primary-color) dotted;
  box-shadow: 0px 2px 15px 2px var(--primary-shadow);
}
