/*
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap');
*/

/* Variables */
:root {
  --primary-color: #4b0909;
  --primary-shadow: rgba(114, 96, 96, 0.7);

  /*
  --font-family: "Roboto", sans-serf;
  --normal-font: 400;
  --bold-font: 700;
  --bolder-font: 900;
  --bg-color: #fcfcfc;
  --primary-color: #4756df;
  --secondary-color: #ff7235;
  
  --secondary-shadow: #a17a69;
  --bottom-margin: 0.5rem;
  --bottom-margin-2: 1rem;
  --line-height: 1.7rem;
  --transition: 0.3s;
  */
}

/*

body {
  font-family: var(--font-family);
}
*/

html {
  scroll-behavior: smooth;
}

/* CSS Reset of all elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* navbar */

.navbar-links ul {
  list-style-type: none;
}

.navbar-links a {
  text-decoration: none;
  color: white;
  padding: 1rem;
  display: block;
  height: 100%;
}

.navbar-links li {
  border-left: 1px white dotted;
}

.navbar {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-color);
  color: white;
  box-shadow: 0px 12px 10px var(--primary-shadow);
}

.nameOnNavBar {
  margin: 0.5rem;
  font-size: 1.5rem;
}

.navbar-links ul {
  display: flex;
}

.navbar-links a:hover {
  color: var(--primary-color);
  background-color: white;
}

.toggle-button {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

@media (max-width: 400px) {
  .toggle-button {
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-links ul {
    flex-direction: column;
    width: 100%;
  }

  .navbar-links li {
    text-align: center;
    border-top: 1px white dotted;
    border-left: none;
  }

  #bottom-link {
    border-bottom: 1px white dotted;
  }

  .navbar-links a {
    padding: 0.5rem 1rem;
  }

  .navbar-links.active {
    display: flex;
  }
}

/* navbar end */

.content {
  margin-top: 20px;
}

/* hero section */

.hero {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  margin: auto;
}

.hero img {
  height: 20rem;
  width: 20rem;
  border-radius: 20%;
  box-shadow: 0px 2px 15px 2px var(--primary-shadow);
}

.bio {
  width: 25rem;
  padding: 0.625rem;
  border-radius: 10px;
  box-shadow: 0px 2px 15px 2px var(--primary-shadow);
}

.bio h1 {
  margin-bottom: 0.5rem;
}

.bio p {
  line-height: 1.7rem;
  padding: 0.3rem 0;
}

#namespan {
  font-weight: bold;
  color: var(--primary-color);
  font-size: 1.5rem;
}
/* hero section end */

section {
  padding-bottom: 5px;
  border-bottom: 1px var(--primary-color) dotted;
}
